/* class.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
}
nav{
    padding: 6px;
    text-align: right;
}
.menu-items{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    position: relative;
    top: -8px;
    padding-right: 15px;
}

a:hover{
    text-decoration: underline;
}
#drop-down-menu{
    position: relative;
    top:-2px;
    padding-right: 15px;
}
#imag{
    height: 32px;
    width:32px ;
    padding-right: 4px;
}
section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#search-bar{
    width: 582px;
    color: #222;
    border: 1px solid #dfe1e5;
    font-size:13px;
    padding: 14px;
    border-radius: 24px;
    outline: none;
    
}
#search-bar:hover{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}
#search-bar:focus{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}
#voice{
    position:relative;
    display: inline;
    top: -38px;
    left: 250px;
}
#button-1{
background-color: #f2f2f2;
color: #5F6368;
font-size: 14px;
height: 36px;
padding: 0 16px;
background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
border: 1px solid transparent;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
color: #222;
margin-right: 15px;

}
#button-1:hover{
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    color: #222;
    cursor: pointer;

}
#app-drop-down{
    width: 285px;
    padding: 28px;
    border: 1px solid #6f4d4d;
    border-radius: 24px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position:absolute;
    right:100px;
    display:none;

}
#dropdown-wrapper{
    display: inline-block;

}
#dropdown-wrapper:hover 
#app-drop-down{
    display:block;
}
.app-item{
    display:inline-block;
    width: 84px;
    margin-bottom: 10px;
    text-align:center;
}
.app-item:hover{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.app-item>img{
    height: 50px;
    width: 50px;
}
.app-item>p{
    color: rgba(0, 0, 0, 0.87);
    margin:0px;
}
